@import './customproperties.css';

.addMemberBtn {
    border: none;
    font-style: italic;
    background-color: #eaeaea;
}

.addMemberField {
    margin: 0 5px 0 10px;
}

.memberList {
    list-style-type: none;
}

.delMemberBtn {
    margin: 0 0 0 10px;
    font-size: var(--xsmall);
    font-weight: var(--light);
}