@import './customproperties.css';

.addTaskBtn {
    display: flex;
    border: none;
    font-style: italic;
    background-color: #eaeaea;
    text-align: center;
    cursor: pointer;
}

.addTaskField {
    margin: 0 5px 0 10px;
}

.taskList {
    list-style-type: none;
}

.delTaskBtn {
    margin: 0 0 0 10px;
    font-size: var(--xsmall);
    font-weight: var(--light);
}