/* Custom Properties */

/* Btns */

--large-btn: 50%
--medium-btn: 25%
--small-btn: 10%


/* Font-weight */

--light: 100px
--regular: 200px
--bold: 400px


/* Font-size */

--xsmall: 12px
--small: 18px
--medium: 24px
--large: 30px
--xlarge: 42px


/* Colors */

--light-grey: #f5f5f5
--grey: #eaeaea
--dark-grey: #bababa
--second-color: #ffffff